<div class="bg-light border-end d-flex flex-column justify-content-between p-3 position-relative"
    style="width: 250px; height: 100vh;">
    <div>
        <h2>Dashboard</h2>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <button class="btn btn-link nav-link active text-start w-100"
                    (click)="navigateTo('dashboard')">Dashboard</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link nav-link text-start w-100" (click)="navigateTo('my-courses')">My Courses</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link nav-link text-start w-100"
                    (click)="navigateTo('settings')">Settings</button>
            </li>
        </ul>

    </div>

    <div class="text-center mb-3">
        <img src="assets/images/profile-photo.png" alt="Profile" style="width: 50px; height: 50px;"
            class="rounded-circle mx-auto d-block">
        <div class="fw-bold mt-2">John Doe</div>
    </div>
</div>